.container {
  padding-top: 20px;
  margin: auto;
  max-width: 600px;

  .contol-bar {
    display: flex;

    .tags-input {
      flex: 1;
    }

    .refresh {
      height: 100%;
      align-self: center;
    }
  }
}
